<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']">OShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li *ngIf="!(this.authService.AuthStatus | async)" class=" nav-item">
                <a class="nav-link" [routerLink]="['/login']">Log in</a>
            </li>
            <li *ngIf="(this.authService.AuthStatus | async) as user " class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                    {{user.displayName}}
                </a>
                <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/my-orders']">My orders</a>
                    <a class="dropdown-item" [routerLink]="['/admin/products']">Manager Orders</a>
                    <a class="dropdown-item" [routerLink]="['/admin/orders']">Manage Products</a>
                    <a class="dropdown-item" (click)="logout()">LogOut</a>
                </div>
            </li>

        </ul>

    </div>
</nav>